#mainmenu
{
	float:left;
}

#mainmenu ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}

#mainmenu ul li
{
	position: relative;
	float:left;
}

#mainmenu ul li ul, #mainmenu ul li ul li
{
	width:130px;
}

#mainmenu li ul
{
	position: absolute;
	left: 0;
	top: 29px;
	display: none;
	float:left;
}

#mainmenu ul li a
{
	float:left;
	color: #FF6600;
	width:220px;
    font-stretch: wider;
    font: bold;
	font-size:18px;
	padding: 5px 0 5px 0;
	text-align:center;
	background: #3366FF; /* меню */
}

#mainmenu li ul li a  /* подменю */
{
	padding:5px 0 3px 10px;
	text-align:left;
	font-size:14px;
	width:210px;
	background: #FFFF66;
}
#mainmenu li ul li a:hover /* подменю выбор */
{
	background: #152C36;
	color:White;
}


* html #mainmenu ul li { float: left; height: 1%; }
* html #mainmenu ul li a { height: 1%; }


#mainmenu li:hover ul,
#mainmenu  li.over ul { display: block; }
#text
{
   padding: 0px 20px 0px 20px;
	text-align: left;
}
.table_left_reg{ text-align: left;};
.table_centr_reg{ text-align: center;};
}

